* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */ 
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo-navbar {
    width: 139px;
    height: auto;
}

header {
    /* background-color: greenyellow; */
    padding-top: 24px;
}

nav {
    width: 85%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

/* shared style */
.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover{
    opacity: 0.9;
}

#banner {
    margin-top: 24px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    height: 80vh;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
}

.hero-button {
    background: url(../assets/Group\ 5.png);
    background-repeat: no-repeat;
    background-position: 10px 9.5px;
    background-color: white;
    color: #30B868;
    font-size: 16px;
    padding: 8px 12px 8px 32px;
    border-radius: 20px;
}

#banner h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}

#banner span{
    color: #30B868;
}

#banner p {
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 32px;
    color: #ffffff;
}

#banner .btn2 {
    background-color: transparent;
    border: 1px solid white !important;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn2:hover{
    opacity: 0.9;
}

#notes {
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}

#notes h1{
    font-size: 48px;
    color: #001931;
}
#notes p{
    padding-top: 16px;
    padding-bottom: 44px;
}
#notes .card-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 24px;
}
#notes .card-container .card{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-shadow: 1px 1px 6px gray;
    padding: 24px;
    padding-bottom: 0;
    border-radius: 5px;
}

#notes .card-container .card img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
    
}
#notes .card-container .card h3{
    padding-top: 16px;
    padding-bottom: 16px;
}

#brain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 120px;
    gap: 60px;
}

#brain .solution{
    color: #30B868;
    line-height: 20px;
}

#brain h1 {
    font-size: 48px;
    color: #001931;
    padding-top: 16px;
    padding-bottom: 16px;
}

#brain .p{
    color: #627382;
}

#brain ul{
    padding-top: 40px;
    list-style: none;
    list-style-image: url(../assets/check\ mark.png);
    list-style-position: inside;
}

#brain ul li{
    padding-bottom: 16px;
}

#think {
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
}

#think .think-container{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    background-color: #f7f6f2;
}

#think .think-container h1{
    font-size: 40px;
    color: #001931;
    padding-bottom: 16px;
}

#think .p1{
    color: #627382;
    line-height: 24px;
    padding-bottom: 24px;
}

#think .p2{
    color: #627382;
    font-size: 16px;
    padding-top: 16px;
}

footer{
    background-color: #001931;
}

footer .footer-container{
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

footer .footer-container .container .link{
    color: #ffffff;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}
footer .link{
    text-align: right;
}

footer .footer-container i{
    color: #ffffff;
}

footer .bottom{
    padding-top: 30px;
    border-top: 1px solid #E5E7EB;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
}