* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */ 
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo-navbar {
    width: 139px;
    height: auto;
}

header {
    /* background-color: greenyellow; */
    padding-top: 24px;
}

nav {
    width: 85%;
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

/* shared style */
.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

#banner {
    margin-top: 24px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    height: 80vh;
    padding-top: 70px;
    padding-bottom: 134px;
    padding-left: 120px;
    padding-right: 120px;
}

.hero-button {
    background-color: white;
    color: #30B868;
    font-size: 16px;
    padding: 8px 12px 8px 32px;
    border-radius: 20px;
}

#banner h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}

#banner span{
    color: #30B868;
}

#banner p {
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 32px;
    color: #ffffff;
}

#banner .btn2 {
    background-color: transparent;
    border: 1px solid white !important;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}